<h1 class="my-5">Bienvenidos!</h1>

<h2 class="my-5">Mostrando todos los posts</h2>
<p>Cantidad de posts: <%= @posts.count %></p>

<% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
<% end %>

<div>
    <%= link_to "Agregar nuevo post", posts_new_path, class:"btn btn-dark" %>
</div>